.jumbotron {
  @include respond(xs) {
    height: 90vh !important;
    width: 123% !important;
    position: relative;
    top: 6em;
  }

  @include respond(sm) {
    height: 90vh !important;
    width: 123% !important;
    position: relative;
    top: 6em;
  }

  @include respond(md) {
    height: 82vh;
    width: 123% !important;
    position: relative;
    top: 6em;
  }

  .jumbotron-thumb {
    @include respond(xs) {
      margin: 0 !important;
      margin-top: 3em !important;
    }

    @include respond(sm) {
      margin: 0 !important;
      margin-top: 3em !important;
    }

    @include respond(md) {
      margin: 0 !important;
      margin-top: 3em !important;
    }

    h4 {
      @include respond(xs) {
        font-size: 20px;
      }

      @include respond(sm) {
        font-size: 20px;
      }

      @include respond(md) {
        font-size: 20px;
      }
    }

    h3 {
      @include respond(xs) {
        font-size: 2em;
        margin: 0.5em 0 0.5em 0 !important;
      }

      @include respond(sm) {
        font-size: 2em;
        margin: 0.5em 0 0.5em 0 !important;
      }

      @include respond(md) {
        font-size: 2em;
        margin: 0.5em 0 0.5em 0 !important;
      }
    }

    h5 {
      @include respond(xs) {
        font-size: 1.1em !important;
      }

      @include respond(sm) {
        font-size: 1.1em !important;
      }

      @include respond(md) {
        font-size: 1.1em !important;
      }
    }
  }

  &-button {
    @include respond(xs) {
      z-index: 0 !important;
    }

    @include respond(sm) {
      flex-direction: column;
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      z-index: 0 !important;
    }

    @include respond(md) {
      flex-direction: column;
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      z-index: 0 !important;
    }

    &__transparent {
      @include respond(xs) {
        margin: auto !important;
        border: 1px solid #FA4A0C !important;
        margin-top: 1em !important;
      }

      @include respond(sm) {
        margin: auto !important;
        border: 1px solid #FA4A0C !important;
        margin-top: 1em !important;
      }

      @include respond(md) {
        margin: auto !important;
        border: 1px solid #FA4A0C !important;
        margin-top: 1em !important;
      }

      a {
        @include respond(xs) {
          color: $primary-color !important;
        }

        @include respond(sm) {
          color: $primary-color !important;
        }

        @include respond(md) {
          color: $primary-color !important;
        }
      }

      &:hover {
        @include respond(xs) {
          background-color: $alternate-colorSecondary;
        }

        @include respond(sm) {
          background-color: $alternate-colorSecondary;
        }

        @include respond(md) {
          background-color: $alternate-colorSecondary;
        }
      }
    }
  }
}