.procedure {
  @include respond(xs) {
    &-headline {
      text-align: center !important;
    }
  }

  &-row {
    @include respond(xs) {
      flex-direction: column;
    }

    &__image {
      img {
        width: 156%;
      }
    }
  }
}