.procedure {
  @include respond(xs){
    position: relative; 
    top: 3em;
  }

  &-headline{
    @include respond(xs){
      text-align: center !important;
    }
  }

  &-row {
    @include respond(xs) {
      flex-direction: column;
    }

    &__image {
      img {
        @include respond(xs) {
          width: 130% !important;
          position: relative !important;
          left: -1em !important;
        }
      }
    }

    &__explanation {
      margin: 0 !important;
    }
  }
}