.imageThumb {
  @include respond(xs) {
    height: auto !important;
    position: relative;
    top: 6em;
  }

  @include respond(sm) {
    position: relative;
    top: 6em;
  }

  @include respond(md) {
    position: relative;
    top: 6em;
  }

  @include respond(lg) {
    position: relative;
    top: 6em;
  }
  @include respond(xl) {
    position: relative;
    top: 6em;
  }

  img {
    @include respond(xs) {
      top: 0em !important;
      left: -0.7em;
      width: 80% !important;
    }

    @include respond(sm) {
      top: 0em !important;
      left: -0.7em;
      width: 80% !important;
    }

    @include respond(md) {
      top: 0em !important;
      left: -0.7em;
      width: 80% !important;
    }

    @include respond(lg) {
      top: 0em !important;
      left: -0.7em;
      width: 80% !important;
    }
    @include respond(xl) {
      top: 0em !important;
      left: -0.7em;
      width: 80% !important;
    }
  }

  span {
    @include respond(xs) {
      position: relative;
      top: 6.5em;
      left: 0em;
      margin-top: 0em !important;
      width: 90% !important;
    }

    @include respond(sm) {
      position: relative;
      top: 6.5em;
      left: 0em;
      margin-top: 0em !important;
      width: 90% !important;
    }

    @include respond(md) {
      position: relative;
      top: 6.5em;
      left: 0em;
      margin-top: 0em !important;
      width: 90% !important;
    }

    @include respond(lg) {
      position: relative;
      top: 6.5em;
      left: 0em;
      margin-top: 0em !important;
      width: 90% !important;
    }
    @include respond(xl) {
      position: relative;
      top: 6.5em;
      left: 0em;
      margin-top: 0em !important;
      width: 90% !important;
    }
  }
}