.imageThumb {
  @include respond(xs) {
    height: auto !important;
  }

  img {
    @include respond(xs) {
      top: 1.5em !important;
      left: 1em;
      width: 100% !important;
    }

    @include respond(sm) {
      top: 1.5em !important;
      left: 1em;
      width: 100% !important;
    }

    @include respond(md) {
      top: -3.5em !important;
      left: 2em;
      width: 100% !important;
    }
  }

  span {
    @include respond(xs) {
      position: relative;
      left: 2em;
      margin-top: 0em !important;
      width: auto !important;
    }

    @include respond(sm) {
      position: relative;
      left: 2em;
      margin-top: 0em !important;
      width: auto !important;
    }

    @include respond(md) {
      width: auto !important;
      left: 1em !important;
      position: relative;
      top: -1.5em;
    }
  }
}