.menu-btn {
  @include respond(xs) {
    display: flex;
  }
}

.menu-items {
  @include respond(xs) {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
}

.menu-items.open {
  @include respond(xs) {
    transform: translateX(0);
  }
}

.menu-items li {
  @include respond(xs) {
    width: 100vw;
    height: 100%;
  }
}

.menu-items li a {
  @include respond(xs) {
    color: #ffffff;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.menu-items li a:hover {
  @include respond(xs) {
    color: #111111;
  }
}