* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  backdrop-filter: blur(5px); }
  .header img {
    width: 206px;
    height: 101px; }
  .header .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1; }
    .header .menu-btn .menu-btn__lines,
    .header .menu-btn .menu-btn__lines::before,
    .header .menu-btn .menu-btn__lines::after {
      width: 1.5rem;
      height: 0.1rem;
      background-color: #111111;
      transition: all 0.5s ease-in-out; }
    .header .menu-btn .menu-btn__lines::before,
    .header .menu-btn .menu-btn__lines::after {
      content: "";
      position: absolute; }
    .header .menu-btn .menu-btn__lines::before {
      transform: translateY(-0.5rem); }
    .header .menu-btn .menu-btn__lines::after {
      transform: translateY(0.5rem); }
    .header .menu-btn.open .menu-btn__lines {
      transform: translateX(2rem);
      background-color: transparent; }
    .header .menu-btn.open .menu-btn__lines::before {
      transform: rotate(45deg) translate(-1.5rem, 1.5rem);
      background-color: #ffffff; }
    .header .menu-btn.open .menu-btn__lines::after {
      transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
      background-color: #ffffff; }
  .header a {
    text-decoration: none;
    color: #111111;
    font-size: 2rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #252B42; }
    .header a:hover {
      color: #FA4A0C; }
  .header .menu-items {
    list-style: none;
    display: flex;
    align-items: center; }
    .header .menu-items li a {
      font-size: 1rem;
      padding: 0.5em 1em; }

.jumbotron {
  width: 100% !important;
  height: 559px !important;
  background-image: url("./../../assets/jumbotron.png");
  background-size: cover;
  object-fit: cover;
  object-position: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center !important; }
  .jumbotron-thumb {
    margin-top: 1.5em; }
  .jumbotron h4 {
    font-family: "Monserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F6F6F6;
    margin: 0 !important;
    margin-bottom: .5em !important; }
  .jumbotron h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    margin: 0 !important;
    margin-left: 4em !important;
    margin-right: 4em !important;
    margin-bottom: .5em !important; }
  .jumbotron h5 {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #F6F6F6;
    margin: 0 0 2em 0 !important; }
  .jumbotron .jumbotron-button {
    position: relative !important;
    z-index: 1; }
    .jumbotron .jumbotron-button__orange {
      background-color: #FA4A0C;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 24px;
      border-radius: 30px;
      border: 0 solid transparent;
      width: 200px;
      height: 58px;
      cursor: pointer; }
      .jumbotron .jumbotron-button__orange a {
        color: #fff;
        text-decoration-line: none; }
    .jumbotron .jumbotron-button__transparent {
      background-color: transparent;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 24px;
      border-radius: 30px;
      border: 1px solid #fff;
      width: 200px;
      height: 58px;
      cursor: pointer;
      margin-left: 1em; }
      .jumbotron .jumbotron-button__transparent:hover {
        background-color: #FA4A0C;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 24px;
        border-radius: 30px;
        border: 0 solid transparent;
        cursor: pointer; }
      .jumbotron .jumbotron-button__transparent a {
        color: #fff;
        text-decoration-line: none; }

.imageThumb {
  height: auto !important;
  text-align: center !important; }
  .imageThumb img {
    position: relative;
    top: -13em;
    left: 0em; }
  .imageThumb span {
    margin: -14em auto auto auto !important;
    display: block;
    width: 884px !important;
    height: 3px;
    background-color: #E4E4E4; }

.procedure {
  height: 403px;
  height: 100%; }
  .procedure-headline {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    color: #000;
    text-align: center;
    margin: 1em 0 0 0; }
  .procedure-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3em; }
    .procedure-row__explanation h5 {
      font-family: "Monserrat", sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #FA4A0C;
      margin: 0; }
    .procedure-row__explanation h4 {
      font-family: "Monserrat", sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #252B42;
      margin: 1em 0; }
    .procedure-row__explanation p {
      font-family: "Monserrat", sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #737373;
      margin-right: 2em; }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header .menu-items {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 123vh !important;
    transform: translateX(100%);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header .menu-items {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 123vh !important;
    transform: translateX(100%);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header .menu-items {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 123vh !important;
    transform: translateX(100%);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header .menu-items.open {
    width: 73%;
    transform: translateX(8.5em) !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header .menu-items.open {
    width: 73%;
    transform: translateX(8.5em) !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header .menu-items.open {
    width: 73%;
    transform: translateX(8.5em) !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header li a {
    color: #ffffff !important;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header li a {
    color: #ffffff !important;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header li a {
    color: #ffffff !important;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header li a:hover {
    color: #252B42; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header li a:hover {
    color: #252B42; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header li a:hover {
    color: #252B42; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron {
    height: 90vh !important;
    width: 100% !important;
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron {
    height: 90vh !important;
    width: 100% !important;
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron {
    height: 82vh;
    width: 100% !important;
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1.1em !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1.1em !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1.1em !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button {
    z-index: 0 !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button {
    flex-direction: column;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    z-index: 0 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button {
    flex-direction: column;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    z-index: 0 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button__transparent {
    margin: auto !important;
    border: 1px solid #FA4A0C !important;
    margin-top: 1em !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button__transparent {
    margin: auto !important;
    border: 1px solid #FA4A0C !important;
    margin-top: 1em !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button__transparent {
    margin: auto !important;
    border: 1px solid #FA4A0C !important;
    margin-top: 1em !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button__transparent a {
    color: #FA4A0C !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button__transparent a {
    color: #FA4A0C !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button__transparent a {
    color: #FA4A0C !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button__transparent:hover {
    background-color: #fff; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button__transparent:hover {
    background-color: #fff; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button__transparent:hover {
    background-color: #fff; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .imageThumb {
    height: auto !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .imageThumb img {
    top: 1.5em !important;
    left: 1em;
    width: 100% !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .imageThumb img {
    top: 1.5em !important;
    left: 1em;
    width: 100% !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .imageThumb img {
    top: -3.5em !important;
    left: 2em;
    width: 100% !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .imageThumb span {
    position: relative;
    left: 2em;
    margin-top: 0em !important;
    width: auto !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .imageThumb span {
    position: relative;
    left: 2em;
    margin-top: 0em !important;
    width: auto !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .imageThumb span {
    width: auto !important;
    left: 1em !important;
    position: relative;
    top: -1.5em; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .procedure-headline {
    text-align: center !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .procedure-row {
    flex-direction: column; } }
.procedure-row__image img {
  width: 156%; }

/*# sourceMappingURL=style.css.map */
