* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: #fff; }
  .header img {
    width: 206px;
    height: 101px; }
  .header .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1; }
    .header .menu-btn .menu-btn__lines,
    .header .menu-btn .menu-btn__lines::before,
    .header .menu-btn .menu-btn__lines::after {
      width: 1.5rem;
      height: 0.1rem;
      background-color: #FA4A0C;
      transition: all 0.5s ease-in-out; }
    .header .menu-btn .menu-btn__lines::before,
    .header .menu-btn .menu-btn__lines::after {
      content: "";
      position: absolute; }
    .header .menu-btn .menu-btn__lines::before {
      transform: translateY(-0.5rem); }
    .header .menu-btn .menu-btn__lines::after {
      transform: translateY(0.5rem); }
    .header .menu-btn.open .menu-btn__lines {
      transform: translateX(2rem);
      background-color: transparent; }
    .header .menu-btn.open .menu-btn__lines::before {
      transform: rotate(45deg) translate(-1.5rem, 1.5rem);
      background-color: #FA4A0C; }
    .header .menu-btn.open .menu-btn__lines::after {
      transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
      background-color: #FA4A0C; }
  .header a {
    text-decoration: none;
    color: #111111;
    font-size: 2rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #252B42; }
    .header a:hover {
      color: #FA4A0C; }
  .header .menu-items {
    list-style: none;
    display: flex;
    align-items: center; }
    .header .menu-items li a {
      font-size: 1rem;
      padding: 0.5em 1em; }

.jumbotron {
  width: 100% !important;
  height: 559px !important;
  background-image: url("./../../assets/jumbotron.png");
  background-size: cover;
  object-fit: cover;
  object-position: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center !important; }
  .jumbotron-thumb {
    margin-top: 1.5em; }
    .jumbotron-thumb h4 {
      font-family: "Monserrat", sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #F6F6F6;
      margin: 0 !important;
      margin-bottom: .5em !important; }
    .jumbotron-thumb h3 {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 48px;
      color: #fff;
      margin: 0 !important;
      margin-left: 4em !important;
      margin-right: 4em !important;
      margin-bottom: .5em !important; }
    .jumbotron-thumb h5 {
      font-family: "Monserrat", sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #F6F6F6;
      margin: 0 0 2em 0 !important; }
  .jumbotron-button {
    position: relative !important;
    z-index: 1; }
    .jumbotron-button__orange {
      background-color: #FA4A0C;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 24px;
      border-radius: 30px;
      border: 0 solid transparent;
      width: 200px;
      height: 58px;
      cursor: pointer; }
      .jumbotron-button__orange a {
        color: #fff;
        text-decoration-line: none; }
    .jumbotron-button__transparent {
      background-color: transparent;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 24px;
      border-radius: 30px;
      border: 1px solid #fff;
      width: 200px;
      height: 58px;
      cursor: pointer;
      margin-left: 1em; }
      .jumbotron-button__transparent:hover {
        background-color: #FA4A0C;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 24px;
        border-radius: 30px;
        border: 0 solid transparent;
        cursor: pointer; }
      .jumbotron-button__transparent a {
        color: #fff;
        text-decoration-line: none; }

.imageThumb {
  height: auto !important;
  text-align: center !important; }
  .imageThumb img {
    position: relative;
    top: -13em;
    left: 0em; }
  .imageThumb span {
    margin: -14em auto auto auto !important;
    display: block;
    width: 884px !important;
    height: 3px;
    background-color: #E4E4E4; }

.account {
  width: 100%;
  height: 806px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .account-headline {
    margin-top: 3em; }
    .account-headline h3 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 44px;
      color: #000; }
  .account-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    .account-row__thumbnail {
      margin-left: 7em; }
    .account-row__text {
      margin-right: 7em; }
      .account-row__text h4 {
        font-family: "Monserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #FA4A0C;
        margin-bottom: 1em; }
      .account-row__text h3 {
        font-family: "Monserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #252B42;
        margin-bottom: 1em; }
      .account-row__text h5 {
        font-family: "Monserrat", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #737373; }

.explore {
  width: 100%;
  height: 806px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .explore-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    .explore-row__text {
      margin-left: 11em;
      margin-right: 5em; }
      .explore-row__text h4 {
        font-family: "Monserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #FA4A0C;
        margin-bottom: 1em; }
      .explore-row__text h3 {
        font-family: "Monserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #252B42;
        margin-bottom: 1em; }
      .explore-row__text h5 {
        font-family: "Monserrat", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #737373;
        margin-right: 3.5em; }

.checkout {
  width: 100%;
  height: 806px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .checkout-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    .checkout-row__thumbnail {
      margin-left: 7em; }
    .checkout-row__text {
      margin-right: 7em; }
      .checkout-row__text h4 {
        font-family: "Monserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #FA4A0C;
        margin-bottom: 1em; }
      .checkout-row__text h3 {
        font-family: "Monserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #252B42;
        margin-bottom: 1em; }
      .checkout-row__text h5 {
        font-family: "Monserrat", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #737373; }

.advertisement {
  width: 100%;
  height: 516px;
  background-image: url("./../../assets/advertisement.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .advertisement-content {
    text-align: center; }
    .advertisement-content__text h3 {
      font-family: "Monserrat", sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #fff;
      margin: 0 0 .7em 0; }
    .advertisement-content__text p {
      font-family: "Monserrat", sans-serif;
      font-weight: lighter;
      font-size: 24px;
      color: #fff;
      margin: 0 0 2em 0; }
    .advertisement-content__btn--orange {
      width: 142px;
      height: 62px;
      border-radius: 10px;
      font-family: "Monserrat", sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      background-color: #FA4A0C;
      border: 1px solid transparent;
      margin-right: 1em; }
      .advertisement-content__btn--orange:hover {
        cursor: pointer; }
      .advertisement-content__btn--orange a {
        color: #fff;
        text-decoration: none; }
    .advertisement-content__btn--transparent {
      width: 142px;
      height: 62px;
      border-radius: 10px;
      font-family: "Monserrat", sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff; }
      .advertisement-content__btn--transparent:hover {
        background-color: #FA4A0C;
        color: #fff;
        cursor: pointer;
        border: 1px solid transparent; }
      .advertisement-content__btn--transparent a {
        color: #fff;
        text-decoration: none; }

.footer {
  height: 223px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer-content {
    width: 1210px;
    height: 133px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer-content__sosmed {
      margin-top: 3em; }
      .footer-content__sosmed .fab {
        width: 50px !important;
        height: 50px !important;
        color: #FA4A0C !important;
        align-self: baseline; }
    .footer-content__copyright, .footer-content__copyright a {
      font-family: "Roboto", sans-serif;
      font-weight: 700px;
      font-size: 15px;
      color: #5C5C5C; }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em !important;
    align-items: center; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header img {
    width: 130px !important;
    height: 50px !important;
    margin-left: -.7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .menu-btn {
    display: flex !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header .menu-items {
    box-shadow: 0 0 6px #878787;
    height: 102vh !important;
    width: 55% !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(183%);
    background-color: #fff !important;
    transition: all 0.3s ease-in-out; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header .menu-items {
    box-shadow: 0 0 6px #878787;
    height: 102vh !important;
    width: 55% !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(183%);
    background-color: #fff !important;
    transition: all 0.3s ease-in-out; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header .menu-items {
    box-shadow: 0 0 6px #878787;
    height: 102vh !important;
    width: 55% !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(183%);
    background-color: #fff !important;
    transition: all 0.3s ease-in-out; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header .menu-items {
    box-shadow: 0 0 6px #878787;
    height: 102vh !important;
    width: 55% !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(183%);
    background-color: #fff !important;
    transition: all 0.3s ease-in-out; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .menu-items {
    box-shadow: 0 0 6px #878787;
    height: 102vh !important;
    width: 55% !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(183%);
    background-color: #fff !important;
    transition: all 0.3s ease-in-out; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header .menu-items.open {
    transform: translateX(83%) !important;
    align-items: center !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header .menu-items.open {
    transform: translateX(83%) !important;
    align-items: center !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header .menu-items.open {
    transform: translateX(83%) !important;
    align-items: center !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header .menu-items.open {
    transform: translateX(83%) !important;
    align-items: center !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .menu-items.open {
    transform: translateX(83%) !important;
    align-items: center !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header li {
    margin-left: 0em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header li {
    margin-left: 0em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header li {
    margin-left: 0em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header li {
    margin-left: 0em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header li {
    margin-left: 0em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  header li a {
    color: #FA4A0C !important;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  header li a {
    color: #FA4A0C !important;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  header li a {
    color: #FA4A0C !important;
    font-size: 1.3em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header li a {
    color: #FA4A0C !important;
    font-size: 1.5em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header li a {
    color: #FA4A0C !important;
    font-size: 1.5em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron {
    height: 83vh !important;
    width: 100% !important;
    position: relative;
    top: 6em;
    justify-content: normal; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron {
    height: 315px !important;
    width: 100% !important;
    position: relative;
    top: 6em;
    justify-content: normal; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron {
    height: 360px !important;
    width: 100% !important;
    position: relative;
    top: 6em;
    justify-content: normal; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron {
    height: 325px !important;
    width: 100% !important;
    position: relative;
    top: 6em;
    justify-content: normal; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    height: 325px !important;
    width: 100% !important;
    position: relative;
    top: 6em;
    justify-content: normal; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron .jumbotron-thumb {
    margin: 0 !important;
    margin-top: 3em !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron .jumbotron-thumb h4 {
    font-size: 20px; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron .jumbotron-thumb h3 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1.1em !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1em !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1em !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1em !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron .jumbotron-thumb h5 {
    font-size: 1em !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button {
    z-index: 0 !important;
    display: flex !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    z-index: 0 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    z-index: 0 !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    z-index: 0 !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    z-index: 0 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button__orange {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button__orange {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button__orange {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron-button__orange {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron-button__orange {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button__transparent {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important;
    border: 1px solid #fff; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button__transparent {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important;
    border: 1px solid #fff; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button__transparent {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important;
    border: 1px solid #fff; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron-button__transparent {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important;
    border: 1px solid #fff; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron-button__transparent {
    width: 100px !important;
    height: 38px !important;
    font-size: 1em !important;
    border: 1px solid #fff; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .jumbotron-button__transparent a {
    color: #fff !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .jumbotron-button__transparent a {
    color: #fff !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .jumbotron-button__transparent a {
    color: #fff !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jumbotron-button__transparent a {
    color: #fff !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron-button__transparent a {
    color: #fff !important; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .imageThumb {
    height: auto !important;
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .imageThumb {
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .imageThumb {
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .imageThumb {
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .imageThumb {
    position: relative;
    top: 6em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .imageThumb img {
    top: 0em !important;
    left: -0.7em;
    width: 80% !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .imageThumb img {
    top: 0em !important;
    left: -0.7em;
    width: 80% !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .imageThumb img {
    top: 0em !important;
    left: -0.7em;
    width: 80% !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .imageThumb img {
    top: 0em !important;
    left: -0.7em;
    width: 80% !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .imageThumb img {
    top: 0em !important;
    left: -0.7em;
    width: 80% !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .imageThumb span {
    position: relative;
    top: 6.5em;
    left: 0em;
    margin-top: 0em !important;
    width: 90% !important; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .imageThumb span {
    position: relative;
    top: 6.5em;
    left: 0em;
    margin-top: 0em !important;
    width: 90% !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .imageThumb span {
    position: relative;
    top: 6.5em;
    left: 0em;
    margin-top: 0em !important;
    width: 90% !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .imageThumb span {
    position: relative;
    top: 6.5em;
    left: 0em;
    margin-top: 0em !important;
    width: 90% !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .imageThumb span {
    position: relative;
    top: 6.5em;
    left: 0em;
    margin-top: 0em !important;
    width: 90% !important; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account {
    position: relative;
    top: 4em;
    height: auto; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account {
    position: relative;
    top: 4em;
    height: auto; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account {
    position: relative;
    top: 4em;
    height: auto; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account {
    position: relative;
    top: 4em;
    height: auto; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account {
    position: relative;
    top: 4em;
    height: auto; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-headline {
    margin: 3em 0 0 0; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-headline {
    margin: 3em 0 0 0; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-headline {
    margin: 3em 0 0 0; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-headline {
    margin: 3em 0 0 0; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-headline {
    margin: 3em 0 0 0; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-headline h3 {
    text-align: center;
    font-size: 1.7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-headline h3 {
    text-align: center;
    font-size: 1.7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-headline h3 {
    text-align: center;
    font-size: 1.7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-headline h3 {
    text-align: center;
    font-size: 1.7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-headline h3 {
    text-align: center;
    font-size: 1.7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 2em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 2em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row__text {
    margin: 7em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row__text {
    margin: 7em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row__text {
    margin: 7em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row__text {
    margin: 7em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row__text {
    margin: 7em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row__text h4,
  .account-row__text h3,
  .account-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row__text h4,
  .account-row__text h3,
  .account-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row__text h4,
  .account-row__text h3,
  .account-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row__text h4,
  .account-row__text h3,
  .account-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row__text h4,
  .account-row__text h3,
  .account-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .account-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .account-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .account-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .account-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .account-row__text h3 {
    margin-bottom: .7em; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore {
    height: auto; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore {
    height: auto; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore {
    height: auto; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore {
    height: auto; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore {
    height: auto; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 2em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 2em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row__text {
    margin: 5em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row__text {
    margin: 5em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row__text {
    margin: 5em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row__text {
    margin: 5em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row__text {
    margin: 5em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row__text h4,
  .explore-row__text h3,
  .explore-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row__text h4,
  .explore-row__text h3,
  .explore-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row__text h4,
  .explore-row__text h3,
  .explore-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row__text h4,
  .explore-row__text h3,
  .explore-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row__text h4,
  .explore-row__text h3,
  .explore-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .explore-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .explore-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .explore-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .explore-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .explore-row__text h3 {
    margin-bottom: .7em; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout {
    height: auto; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout {
    height: auto; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout {
    height: auto; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout {
    height: auto; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout {
    height: auto; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row {
    width: 100%;
    flex-direction: column; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row__thumbnail {
    width: 100%;
    margin: 0;
    order: 2 !important; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 2em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 2em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row__thumbnail img {
    position: relative;
    width: 89%;
    left: 11%; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row__text {
    margin: 3em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row__text {
    margin: 3em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row__text {
    margin: 3em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row__text {
    margin: 3em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row__text {
    margin: 3em 0 0 0;
    text-align: center;
    order: 1; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row__text h4,
  .checkout-row__text h3,
  .checkout-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row__text h4,
  .checkout-row__text h3,
  .checkout-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row__text h4,
  .checkout-row__text h3,
  .checkout-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row__text h4,
  .checkout-row__text h3,
  .checkout-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row__text h4,
  .checkout-row__text h3,
  .checkout-row__text h5 {
    font-size: 1.7em !important;
    margin: 0 .7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row__text h4 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .checkout-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .checkout-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .checkout-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-row__text h3 {
    margin-bottom: .7em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-row__text h3 {
    margin-bottom: .7em; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .advertisement-content__text h3 {
    font-size: 1.5em; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .advertisement-content__text h3 {
    font-size: 1.5em; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .advertisement-content__text h3 {
    font-size: 1.5em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .advertisement-content__text h3 {
    font-size: 1.5em; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .advertisement-content__text h3 {
    font-size: 1.5em; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .advertisement-content__btn {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .advertisement-content__btn {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .advertisement-content__btn {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .advertisement-content__btn {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .advertisement-content__btn {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .advertisement-content__btn--orange, .advertisement-content__btn--transparent {
    width: 102px; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .advertisement-content__btn--orange, .advertisement-content__btn--transparent {
    width: 102px; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .advertisement-content__btn--orange, .advertisement-content__btn--transparent {
    width: 102px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .advertisement-content__btn--orange, .advertisement-content__btn--transparent {
    width: 102px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .advertisement-content__btn--orange, .advertisement-content__btn--transparent {
    width: 102px; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .footer-content {
    flex-direction: column !important;
    width: auto !important;
    text-align: center; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .footer-content {
    flex-direction: column !important;
    width: auto !important;
    text-align: center; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .footer-content {
    flex-direction: column !important;
    width: auto !important;
    text-align: center; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer-content {
    flex-direction: column !important;
    width: auto !important;
    text-align: center; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-content {
    flex-direction: column !important;
    width: auto !important;
    text-align: center; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .footer-content__img {
    display: none; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .footer-content__img {
    display: none; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .footer-content__img {
    display: none; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer-content__img {
    display: none; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-content__img {
    display: none; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .footer-content__sosmed .fab::before {
    font-size: 40px; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .footer-content__sosmed .fab::before {
    font-size: 40px; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .footer-content__sosmed .fab::before {
    font-size: 40px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer-content__sosmed .fab::before {
    font-size: 40px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-content__sosmed .fab::before {
    font-size: 40px; } }
@media only screen and (min-width: 300px) and (max-width: 319px) {
  .footer-content__sosmed {
    margin: 0 0 1em 0; } }
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .footer-content__sosmed {
    margin: 0 0 1em 0; } }
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .footer-content__sosmed {
    margin: 0 0 1em 0; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer-content__sosmed {
    margin: 0 0 1em 0; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-content__sosmed {
    margin: 0 0 1em 0; } }

/*# sourceMappingURL=style.css.map */
