header {
  height: 100px;
  background-color: $alternate-colorSecondary;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include respond(xs) {
      width: 100%;
      position: relative;
      z-index: 1;
      margin-left: 0;
    }

    .navbar-brand {
      margin-left: 2em;

      @include respond(xs) {
        margin-left: 1em;
      }

      img {
        width: 103px;
        height: 50px;
      }
    }

    .navbar-humberger {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 2em;
      width: 30px;
      height: 22px;
      position: relative;
      z-index: 2;

      @include respond(xs) {
        top: 47px;
        right: 5px;
        display: flex;
        position: absolute;
      }

      input[type=checkbox] {
        width: 30px;
        height: 22px;
        position: absolute;
        z-index: 1;
        right: 0;
        left: -3px;
        transform: scale(1);
        border-radius: 0px !important;
        opacity: .0;
        bottom: 0;
        top: -3px;

        &:checked .navbar-menu {
          right: 0;
        }
      }

      span {
        width: 20px;
        height: 1px;
        background-color: #000;
        border: 1px solid #000;
      }

      .line-one.active {
        transform-origin: 0 0.4em;
        transform: rotate(35deg);
        transition: all .3s;
      }

      .line-two.active {
        width: 0px;
        opacity: 0;
        transition: all .3s;
      }

      .line-third.active {
        transform-origin: 0.1em 0em;
        transform: rotate(-35deg);
        transition: all .3s
      }

      .line-one.close {
        transform-origin: left center;
        transform: rotate(0deg);
        transition: all .3s;
      }

      .line-two.close {
        width: 20px;
        opacity: 1;
        transition: all .3s;
      }

      .line-third.close {
        transform-origin: left center;
        transform: rotate(0deg);
        transition: all .3s;
      }
    }

    .navbar-menu {
      margin-right: 2.5em;

      &.open {
        transition: all .7s ease;
        right: 0;
      }

      &.close {
        transition: all .7s ease;
        right: -100%;
      }

      @include respond(xs) {
        display: block;
        position: absolute;
        background-color: #fff;
        height: 100vh;
        top: 0;
        right: -100%;
        width: 50%;
        border: 1px solid #FA4A0C;
        transition: .7s ease;
        margin-right: 0;
      }

      ul {
        width: 400px;
        display: flex;
        list-style: none;
        justify-content: space-between;

        @include respond(xs) {
          flex-direction: column;
          width: 100%;
          padding-left: 1em;
          height: 100vh;
          justify-content: space-evenly;
        }

        li {
          a {
            @include font('Monserrat', 600, 14px, $secondary-color);
            text-decoration: none;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}