.imageThumb {
  text-align: center !important;

  img {
    position: relative;
    top: -13em;
    left: 0em;
  }

  span {
    margin: auto;
    display: block;
    width: 884px !important;
    height: 3px;
    background-color: #E4E4E4;
  }
}